{
  "tag": "VLESS-XHTTP-CDN",
  "port": ${XHTTP_PORT},
  "listen": "127.0.0.1",
  "protocol": "vless",
  "settings": {
    "clients": [],
    "decryption": "none"
  },
  "sniffing": {
    "enabled": true,
    "routeOnly": true,
    "destOverride": ["http", "tls", "quic"],
    "metadataOnly": false
  },
  "streamSettings": {
    "network": "xhttp",
    "security": "none",
    "xhttpSettings": {
      "host": "${CDN_DOMAIN}",
      "mode": "packet-up",
      "path": "${XHTTP_PATH}",
      "extra": {
        "seqKey": "page",
        "xPaddingKey": "_rupl",
        "seqPlacement": "query",
        "uplinkDataKey": "X-Data",
        "xPaddingBytes": "50-200",
        "sessionIDTable": "base36",
        "xPaddingHeader": "X-Cache",
        "xPaddingMethod": "tokenish",
        "sessionIDLength": "8-12",
        "uplinkChunkSize": 2048,
        "uplinkHTTPMethod": "GET",
        "xPaddingObfsMode": true,
        "xPaddingPlacement": "header",
        "sessionIDPlacement": "query",
        "uplinkDataPlacement": "body",
        "serverMaxHeaderBytes": 32768
      },
      "noSSEHeader": false,
      "scMaxBufferedPosts": 256,
      "scMaxEachPostBytes": 60000,
      "scStreamUpServerSecs": "0"
    }
  }
}
